<p id="notice"><%= notice %></p>
<div class='main'>
    <div class='activator'>
        <div class="shrink done"><h1>Hello, lines viewer!</h1></div>
        <div class="expanded">

		  	<table>
		  		<tr>
		  		<th>test paths type</th><th>path</th> 
			  	</tr>

			  <tr>
			    <td>view whole file by lines   </td>
			    <td><div id="dev_links"><%= link_to '/new_file/', "/new_file/" %></div></td> 
			  </tr>	
			  <tr>
			    <td>load new file to view - (./public/example.txt)   </td>
			    <td><div id="dev_links"><%= link_to '/new_file/new/', "/new_file/new/" %></div></td> 
			  </tr>			  
			  <tr>
			    <td>status 200 link</td> 
			    <td><div id="dev_links"><%= link_to '/lines/2', "/lines/2" %></div></td> 
			  </tr>			  
			  <tr>
			    <td>status 413 link</td>
			    <td><div id="dev_links"><%= link_to '/lines/200', "/lines/200" %></div></td> 
			  </tr>
      		</table>

			</div>
        </div>
    </div>

      		<hr>
      		<h1>Project Status:</h1>
      			<ul>
				  <li><div id="status_done">finished: init of server </div></li>
				  <li><div id="status_done">finished: add landing-page and frontend </div></li>
				  <li><div id="status_done">finished: add get request param capture </div></li>
				  <li><div id="status_done">finished: set up mongodb schema and query </div></li>
				  <li><div id="status_done">finished: returns correct status code </div></li>
				  <li><div id="status_done">finished: setup live mongo </div></li>
				  <li><div id="status_done">finished: a file uploader, and then parser into mongo table </div></li>
				  <li><div id="status_done">finished: trigger destory_all on new file</div></li>
				  <li><div id="status_work">currently: validation?</div></li>
				  <li><div id="status_work">currently: check valid: The line is valid ASCII (e.g. not Unicode).</div></li>
				  
				  <li><div id="status_issues">todo: figure out concurrency with unicorn/puma</div></li>
				  <li><div id="status_issues">todo:  figure out volume with caching/dynos </div></li>
				  <li><div id="status_issues">todo:  complete the final report analysis</div></li>


				  <li><div id="status_issues">futures:  write tests</div></li>
				</ul>
      			
      		<hr>
      		<p>
      			<h1>Notes:</h1>
						heroku addons:create mongolab
				<br> 	Please note that Sandbox databases should not be used in production, 
				<br>    as they are intended for development/testing environments that do not require high availability
				<br> 
				<br> 	Storage 496 mb, single instance?
				<br> 	https://elements.heroku.com/addons/mongolab
			</p>

</div>
