<%= form_for(@new_file) do |f| %>
  <% if @new_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_file.errors.count, "error") %> prohibited this new_file from being saved:</h2>

      <ul>
      <% @new_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <table>
          <tr>
            <div class="field">
              <td><%= f.label :fileid %>: </td>
              <td><%= f.hidden_field :fileid, :value => 1 %>1</td>
            </div>
          </tr>
          <tr>
            <div class="field">
              <td><%= f.label :line %># </td>
              <td><%= f.number_field :line %></td>
            </div>
          <tr>
          </tr>
            <div class="field">
              <td><%= f.label :content %> </td>
              <td><%= f.text_field :content %></td>
            </div>
          </tr>
          </table>
          <br>
            <div class="actions">
              <td><%= f.submit %></td>
            </div>
<% end %>
