
<!---
<h1>create new line by line</h1>

<%= render 'form' %>

<br>
<hr>
!-->

<h1>Import a text File (./public/sample.txt)</h1>
	The text file will have the following properties:
<ul>
<li>Each line is terminated with a newline ("\n").</li>
<li>Any given line will fit into memory.</li>
<li>The line is valid ASCII (e.g. not Unicode).</li>
</ul>
<div>
  <%= form_tag import_new_files_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import file" %>
  <% end %>
</div>


<br><%= link_to 'Back', new_files_path %>
<br><%= link_to 'Home', root_path %>
